.backendLogin {
    background-image: url(../imgs/backend/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    .lightBox {
        width: 50%;
        height: 60%;
        background-color: #ff7979;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 0;
        text-align: center;
        border-radius: 10px;
        &::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
        &_content {
            width: 98%;
            height: 96%;
            background-color: #fff;
            border-radius: 10px;
            margin: auto;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
        &_info {
            display: inline-block;
            width: 32%;
            height: 100%;
            background-color: #f5d1e1;
            border-radius: 10px 0px 0px 10px;
            vertical-align: bottom;
        }
        &_title {
            width: 100%;
            height: 30%;
            text-align: center;
            line-height: 40px;
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 24px;
            }
        }
        &_img {
            width: 100%;
            height: 70%;
        }
        &_login {
            display: inline-block;
            width: 68%;
            height: 100%;
            background-color: #aaf;
            border-radius: 0px 10px 10px 0px;
        }
    }
}