@import "mixin";
// 商城--------------------------------------------
.shop{
  background-image: linear-gradient(to top,#39b2b1 21%, #d9fff2 0px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.shop_area{
  width: 50%;
  height: 66%;
  position: relative;
}
.shed{
  width: 106%;
  max-width: unset;
  transform: translate(-3%,-85%);
  position: relative;
  z-index: 5;
}
.item_group{
  width: 100%;
  height: 100%;
  position: absolute;
  border-left: 22px solid #e6e7e9;
  border-right: 22px solid #e6e7e9;
  box-sizing: border-box;
}
.type{
  width: 4%;
  height: 12%;
  text-align: center;
  position: absolute;
  transform: translate(calc(-100% + -35px),50%);
  background-color: #fff;
  border-radius: 10px;
}
.type::before{
  content: "";
  display: block;
  background-color: #ced9df;
  width: 7px;
  height: 8px;
  position: absolute;
  right: -18px;
  top: 30%;
}
.type::after{
  content: "";
  display: block;
  background-color: #ced9df;
  width: 7px;
  height: 8px;
  position: absolute;
  right: -18px;
  bottom: 30%;
}
.type h2{
  position: absolute;
  writing-mode: lr;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.chair_type{
  border: 5px solid #92d7e7;
  box-shadow: 6px -5px  #8accdb;
}
.table_type{
  border: 5px solid #f9e3b2;
  box-shadow: 6px -5px  #f0dbac;
}
.bed_type{
  border: 5px solid #97d7d9;
  box-shadow: 6px -5px  #92cfd1;
}
.chair_row,.table_row,.bed_row{
  width: 100%;
  height: 33.3333%;
  border-bottom: 10px solid #d8d8d8;
  box-sizing: border-box;
}
.chair_row{
  background-color: #92d7e7;
}
.table_row{
  background-color: #f9e3b2;
}
.bed_row{
  background-color: #97d7d9;
}

.wrap{
  width: 90%;
  height: 90%;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.item_title{
  text-align: center;
  width: 70%;
}
.item_title h3{
  width: 60%;
  padding: 2px;
  margin: auto;
  border-radius: 10px 10px 0px 0px;
  // font-size: 80%;
}
.img_bg{
  width: 70%;
  height: 80%;
  border-radius: 10px 10px 0px 10px;
  position: relative;
}
.img_wrap{
  width: 80%;
  height: 80%;
  background-color: #fff;
  box-shadow: 1px 3px #ddd inset;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.img_wrap img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn_bg{
  width: 42%;
  height: 60%;
  padding: 3px 0px;
  position: absolute;
  right: 1px;
  bottom: 0;
  transform: translate(100%);
  border-radius: 0px 10px 10px 0px;
}
.btn_wrap{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.chair_row .img_bg,.chair_row .item_title h3,.chair_row .btn_bg{
  background-color: #e4f2f5;
}
.table_row .img_bg,.table_row .item_title h3,.table_row .btn_bg{
  background-color: #f9f5eb;
}
.bed_row .img_bg,.bed_row .item_title h3,.bed_row .btn_bg{
  background-color: #e5f2f3;
}
.owl-stage-outer{
  height: 100%;
}
.owl-stage{
  height: 100%;
}
.owl-item{
  height: 100%;
}
.item{
  height: 100%;
}
.owl-nav {
  height: 0px;
  margin: 0px !important;
}
.owl-prev span {
  width: 30px;
  height: 50px;
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../imgs/shop/arrowleft.png) no-repeat center center;
  font-size: 0px;
}

.owl-next span {
  width: 30px;
  height: 50px;
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../imgs/shop/arrowright.png) no-repeat center center;
  font-size: 0px;
}

.price_tag{
  width: 50%;
  position: absolute;
  top: 0px;
  right: calc(-45%);
  transform: translateY(-50%);
}
.price_tag img{
  width: 100%;
  vertical-align: middle;
}
.price{
  transform: rotate(-20deg) translate(-30%,-50%);
  transform-origin: left center;
  position: absolute;
  top: 50%;
  left: 50%;
}



.try,.buy{
  @include btn();
  display: block;
  cursor: pointer;
  margin: 4%;
  font-size: 10%;
  text-align: center;
  transform: translate(-5%);
}
.try{
  background-color: #fff;
  box-shadow: 3px 3px #fa7979;
  color: #fa7979;
}
.show{
  width: 36%;
  height: 100vh;
  text-align: center;
  position: relative;
}
.light{
  width: 15%;
  margin: 100px auto;
}
.light img{
  width: 100%;
}
.show_title{
  background-color: #d6859f;
  border: 5px solid #d6859f;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}
.show_title h2{
  width: 110px;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  border-radius: 10px;
}
.try_area{
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 16%;
  transform: translate(-50%);
}
#squid{
  width: 50%;
  margin: auto;
  position: relative;
  top: 100px;
  z-index: 1;
  // transform: rotate(55.7deg);
}
#squid_body{
  position: absolute;
  left: 49%;
  bottom: 0px;
  transform: translate(-50%);
}
.foots{
  display: flex;
  justify-content: space-around;
  width: 40%;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
.show_item{
  width: 55%;
  transform: translateY(15%);
}
.stage{
  width: 80%;
}
.tab_title{
  display: none;
}


@include rwd(desktop){
  .shop_area{
      margin-top: 12%;
  }
}


@include rwd(mobile){
  .shop_area{
    width: 55%;
    margin-top: 80px;
  }
  .type{
    display: none;
  }
  .chair_row,.table_row,.bed_row{
    height: 100%;
  }
  .chair_items,.table_items,.bed_items{
    width: 900%;
  }
  .item_title h3{
    font-size: 28px;
  }
  .owl-prev span{
    left: 0;
  }
  .owl-next span{
    right: 0;
  }
  .try,.buy{
    margin: 15% 5%;
    font-size: 100%;
  }
  .light{
    width: 20%;
    margin: 30px auto;
  }
  .squid{
    top: 40px;
  }
  .tab_title{
    writing-mode: vertical-lr;
    display: flex;
    justify-content: space-between;
    height: 85%;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(-100%,-50%);
    li{
      text-align: center;
      width: 44px;
      height: 50px;
      line-height: 44px;
      border-radius: 5px 0px 0px 5px;
      background-color: #e6e7e9;
      margin: 0px;
    }
    li:first-child.active{
      background-color: #92d7e7;
    }
    li:nth-child(2).active{
      background-color: #f9e3b2;
    }
    li:last-child.active{
      background-color: #97d7d9;
    }
  }
}

// *{
//   outline: 1px solid #f00 !important;
// }

