body {
  outline: 1px solid #0f0;
  & > .home_page {
    width: 100vw;
    height: 100vh;
    background-image: url(../imgs/map.png);
    background-size: cover;
    resize: both;
    // background-color: seashell;
    font-family: "Noto Sans TC", sans-serif;
  }
}

a,
button,
input {
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
}

.home_page {
  font-size: 0;
  img {
    max-width: 100%;
    height: auto;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: black;
    }
  }
  header {
    width: 100vw;
    background-color: #ff8d8d;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    nav {
      padding: 10px 0px;
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      position: relative;
      left: -20px;
      li {
        width: calc(100% / 12);
        // margin: 0px 2%;
        margin: 0px 40px;
        display: inline-block;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        &:nth-child(3) {
          padding-right: 14px;
        }
      }
      a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        span {
          width: 80px;
          padding: 8px 20px;
          background-color: #fff;
          border-radius: 20px;
        }
        .nav_icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0 0 0 3px #ff8d8d;
          position: relative;
          left: 14px;
          img {
            width: 50px;
          }
        }
      }
      .logo {
        font-size: 0px;
        position: absolute;
        top: 20px;
        img {
          width: 100px;
        }
      }
      .mem_info {
        .avatar {
          vertical-align: middle;
        }
        .login {
          // padding-left: 15px;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
  }
  .gameWorld {
    font-size: 0;
    .item {
      width: 400px;
      height: 400px;
      // border: 1px solid #f00;
      display: inline-block;
      img {
        width: 100%;
        height: auto;
      }
    }
    .busBlock {
      padding-top: 50px;
      padding-left: 200px;
      position: relative;
      .npc {
        position: absolute;
        bottom: 10px;
        right: 50px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        .text {
          width: 60%;
          font-size: 18px;
          position: relative;
          top: -30px;
          p {
            background-color: #fff;
            padding: 15px;
            border-radius: 10px;
            border: 5px solid #ff8d8d;
            transform: scale(0);
            transform-origin: left bottom;
            transition: 1s;
          }
          p.active {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.chatRoom {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 350px;
  width: 400px;
  display: flex;
  font-size: 16px;

  .chatPart {
    width: 50%;
    height: 100%;
    padding: 30px 5px 5px 5px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background-color: #ff8d8d;

    .content::-webkit-scrollbar-thumb {
      background-color: #fec4c4;
    }

    .content {
      width: 100%;
      height: 70%;
      padding: 10px;
      box-sizing: border-box;
      background-color: #fff;
      overflow: auto;

      .other {
        display: flex;
        justify-content: space-between;
        .pic {
          width: 20%;
          img {
            border-radius: 50%;
          }
        }
        .text {
          width: 75%;
          background-color: #fec4c4;
          border-radius: 10px;
          padding: 5px;
          box-sizing: border-box;
          p {
            margin: 0;
          }
        }
      }
      .mySelf {
        .text {
          p {
            background-color: #fec4c4;
            border-radius: 10px;
            padding: 5px;
          }
        }
      }
    }
    .inputField {
      display: flex;
      justify-content: space-between;
      input {
        border: none;
        outline: none;
        appearance: none;
        width: 70%;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        background-color: #fec4c4;
      }
      button {
        border-radius: 5px;
      }
    }
    .channels {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        width: 48%;
        height: 100%;
        text-align: center;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .friends {
    background-color: #ff8d8d;
    height: 100%;
    width: 50%;
    border-radius: 10px 10px 0 0;
    padding: 30px 5px 5px 5px;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    .friend-list {
      height: 85%;
      overflow: auto;
      .friend {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1% 0;
        padding: 3% 2%;
        background-color: #fff;
        img {
          border-radius: 50%;
        }
        .online {
          width: 7px;
          height: 7px;
          border-radius: 5px;
          background-color: #0c0;
        }
      }
    }
    .title {
      height: 10%;
      h3 {
        margin: 0;
        text-align: center;
      }
    }
  }
}
