<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minmum-scale=0, maximum-scale=10 initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheet" href="css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/hover.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="sass/style.css">
    <title>收集友誼</title>
</head>

<body>


    <div class="gameWorld_bgImage">
        <img src="imgs/homePage/homepage01.png" alt="" draggable="false" oncontextmenu="return false">
    </div>

    <!-- <div class="gameWorld_tutorial">
        <div class="tutorial_cover">
            <div class="tutorial_house">
                <div class="cover cover-house">
                    <img src="imgs/homePage/coverHouse.png" alt="">
                </div>
                <div class="desc desc-house"></div>
            </div>
        </div>
    </div> -->

    <div class="gameWorld">
        <div class="gameWorld_house gameWorld_object">
            <a href="javascript:;"><img src="imgs/homePage/house_tag.png" alt=""></a>
        </div>
        <div class="gameWorld_fountain gameWorld_object">
            <canvas id="spray"></canvas>
            <a href="javascript:;"><img src="imgs/homePage/fountain.png" alt=""></a>
        </div>
        <div id="busBox" class="gameWorld_bus gameWorld_object">
            <div id="smoke"></div>
            <a href="javascript:;"><img src="imgs/homePage/bus.png" alt="" id="bus"></a>
        </div>
        <div class="gameWorld_cup gameWorld_object">
            <a href="javascript:;"><img src="imgs/homePage/cup.png" alt=""></a>
        </div>
    </div>

    <div class="gameWorld_switchPage">
        <div class="checkBox checkBox-room collapse">
            <div class="checkBox_content">
                <div class="checkBox_title">
                    <h3>前往我的房間</h3>
                </div>
                <div class="checkBox_hint">
                    <p>要前往我的房間嗎?</p>
                </div>
                <div class="checkBox_btn">
                    <button class="button button-cancel" id="btnCancel-room">取消</button>
                    <a href="myRoom.html" class="button button-check">確認</a>
                </div>
            </div>
        </div>

        <div class="checkBox checkBox-event collapse">
            <div class="checkBox_content">
                <div class="checkBox_title">
                    <h3>前往揪團活動</h3>
                </div>
                <div class="checkBox_hint">
                    <p>要前往揪團活動專區嗎?</p>
                </div>
                <div class="checkBox_btn">
                    <button class="button button-cancel" id="btnCancel-event">取消</button>
                    <a href="event.html" class="button button-check">確認</a>
                </div>
            </div>
        </div>
    </div>

    <header class="common_header disabledScrollOnHover">
        <div class="menuMobile">
            <span class="menuMobile_circle"></span>
            <a href="#" class="menuMobile_link">
                <span class="menuMobile_icon">
                    <span class="menuMobile_line menuMobile_line-1"></span>
                    <span class="menuMobile_line menuMobile_line-2"></span>
                    <span class="menuMobile_line menuMobile_line-3"></span>
                </span>
            </a>
        </div>

        <div class="menuHandheld">
            <div class="menuMobile_overlay">
                <div class="menuMobile_menu">
                    <ul class="memberInfo">
                        <li class="coin">
                            <a href="javascript:;">
                                <img src="imgs/homePage/icon/coin.png" alt="持有金額icon">
                                <span>1500</span>
                            </a>
                        </li>
                        <li class="logo">
                            <a href="index.html">
                                <img src="imgs/homePage/logo.png" alt="尋找友誼網站LOGO">
                                <span>尋找友誼</span>
                            </a>
                        </li>
                        <li class="login">
                            <img src="imgs/homePage/icon/avatar.png" alt="角色頭像icon">
                            <span class="name">
                                <a href="javascript:;">魚翔</a>
                            </span>
                            <span>
                                <a href="javascript:;">登出</a>
                            </span>
                        </li>
                    </ul>
                    <nav class="menuMobile_nav">
                        <li><a href="myRoom.html"> <img src="imgs/homePage/icon/room.png" alt="我的房間icon">
                                <span>我的房間</span></a></li>
                        <li><a href="dressingRoom.html"><img src="imgs/homePage/icon/fittingRoom.png" alt="換衣間icon">
                                <span>換衣間</span></a></li>
                        <li><a href="findfriend.html"> <img src="imgs/homePage/icon/friend.png" alt="找朋友icon">
                                <span>找朋友</span></a></li>
                        <li><a href="javascript:;"> <img src="imgs/homePage/icon/events.png" alt="揪團活動icon">
                                <span>揪團活動</span></a></li>
                        <li><a href="shop.html"> <img src="imgs/homePage/icon/mall.png" alt="虛擬商城icon">
                                <span>虛擬商城</span></a></li>
                        <li><a href="memberCenter.html"> <img src="imgs/homePage/icon/member.png" alt="會員中心icon">
                                <span>會員中心</span></a></li>
                        <li><a href="javascript:;"> <img src="imgs/homePage/icon/robot.png" alt="客服機器人_icon">
                                <span>客服機器人</span></a></li>
                        <li><a href="javascript:;"> <img src="imgs/homePage/icon/notice02.png" alt="通知_icon">
                                <span>通知</span></a></li>
                    </nav>
                </div>
            </div>
        </div>

        <nav class="menuDesktop">
            <ul>
                <li class="hvr-pulse-grow">
                    <a href="myRoom.html">
                        <img src="imgs/homePage/icon/room.png" alt="我的房間icon">
                        <span>我的房間</span>
                    </a>
                </li>
                <li class="hvr-pulse-grow">
                    <a href="dressingRoom.html">
                        <img src="imgs/homePage/icon/fittingRoom.png" alt="換衣間icon">
                        <span>換衣間</span>
                    </a>
                </li>
                <li class="hvr-pulse-grow">
                    <a href="findfriend.html">
                        <img src="imgs/homePage/icon/friend.png" alt="找朋友icon">
                        <span>找朋友</span>
                    </a>
                </li>
                <li class="hvr-pulse-grow">
                    <a href="javascript:;">
                        <img src="imgs/homePage/icon/events.png" alt="揪團活動icon">
                        <span>揪團活動</span>
                    </a>
                </li>
                <li class="logo hvr-pulse-grow">
                    <a href="index.html">
                        <img src="imgs/homePage/logo.png" alt="尋找友誼網站LOGO">
                        <span>尋找友誼</span>
                    </a>
                </li>
                <li class="hvr-pulse-grow">
                    <a href="shop.html">
                        <img src="imgs/homePage/icon/mall.png" alt="虛擬商城icon">
                        <span>虛擬商城</span>
                    </a>
                </li>
                <li class="hvr-pulse-grow">
                    <a href="memberCenter.html">
                        <img src="imgs/homePage/icon/member.png" alt="會員中心icon">
                        <span>會員中心</span>
                    </a>
                </li>
                <div class="memberInfo">
                    <li class="login">
                        <img src="imgs/homePage/icon/avatar.png" alt="角色頭像icon">
                        <span class="name"><a href="javascript:;">魚翔</a></span>
                        <span><a href="javascript:;">登出</a></span>
                    </li>
                    <li class="coin">
                        <a href="javascript:;">
                            <img src="imgs/homePage/icon/coin.png" alt="持有金額icon">
                            <span>1500</span>
                        </a>
                    </li>
                    <li class="level">
                        <a href="javascript:;">
                            <img src="imgs/homePage/icon/civilian.png" alt="平民等級icon">
                            <span>平民</span>
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>

    <!-- 聊天群組(1.聊天室 2.好友列表) -->
    <!-- Rou:vue.js #chat_app -->
    <div class="chatGroup disabledScrollOnHover collapse" id="chat_app">
        <i class="fas fa-window-minimize closeBtn"></i>
        <!-- 聊天室 -->
        <!-- 聊天室分成三種訊息 1.官方(messageOfficial) 2.發訊息的人(messageSent) 3.收訊息的人(messageReceived) -->
        <div class="chatRoom">
            <div class="chatRoom_content">
                <!-- Rou:公頻區塊在這裏,如果傳訊息給所有人,並且將訊息印出來 -->
                <ul class="chatRoom_main" v-if="chat_to_all">
                    <!-- 發訊息給... -->
                    <div class="chatRoom_sendTo">
                        <p>公頻</p>
                    </div>
                    <!-- 官方訊息 -->
                    <li class="chatRoom_messageOfficial">
                        <div class="text">
                            <p>在你離線時共有 2 人 造訪你的房間</p>
                        </div>
                    </li>
                    <template v-for="message in messages_to_all()">
                        <!-- 發送訊息者 -->
                        <!-- Rou:檢查收到訊息的userid是不是自己來判斷訊息區塊的樣子,以下userid是自己 -->
                        <!-- Rou:在公頻聊天只有大頭貼沒辦法看到名字,在內容中寫入{{ message.user_id }}可以產生正在講話的人的名字 -->
                        <li class="chatRoom_messageSent" v-if="message.user_id == user_id">
                            <div class="message-sent">
                                <div class="text">
                                    <p>{{ message.chat_msg }}</p>
                                </div>
                                <div class="avatar">
                                    <img src="imgs/homePage/icon/member0.png" alt="大頭貼">{{ message.user_id }}
                                </div>
                            </div>
                        </li>
                        <!-- 接收訊息者 -->
                        <!-- Rou:檢查收到訊息的userid是不是自己來判斷訊息區塊的樣子,以下userid不是自己 -->
                        <!-- Rou:在公頻聊天只有大頭貼沒辦法看到名字,在內容中寫入{{ message.user_id }}可以產生正在講話的人的名字 -->
                        <li class="chatRoom_messageReceived" v-if="message.user_id != user_id">
                            <div class="message-received">
                                <div class="avatar">
                                    <img src="imgs/homePage/icon/member0.png" alt="大頭貼">{{ message.user_id }}
                                </div>
                                <div class="text">
                                    <p>{{ message.chat_msg }}</p>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>

                <!-- Rou:密語區塊在這裏,檢查不是公頻訊息,並且傳入誰傳訊息給我,再印出-->
                <ul class="chatRoom_main" v-if="!chat_to_all">
                    <!-- 發訊息給... -->
                    <div class="chatRoom_sendTo">
                        <p>TO: {{chat_to_who}}</p>
                    </div>
                    <template v-for="message in messages_to_someone(chat_to_who)">
                        <!-- 發送訊息者 -->
                        <!-- Rou:如果發訊息的人是我 -->
                        <li class="chatRoom_messageSent" v-if="message.user_id == user_id">
                            <div class="message-sent">
                                <div class="text">
                                    <p>{{ message.chat_msg }}</p>
                                </div>
                                <div class="avatar">
                                    <img src="imgs/homePage/icon/member0.png" alt="">
                                </div>
                            </div>
                        </li>
                        <!-- 接收訊息者 -->
                        <!-- Rou:如果發訊息的人不是我本人 -->
                        <li class="chatRoom_messageReceived" v-if="message.user_id != user_id">
                            <div class="message-received">
                                <div class="avatar">
                                    <img src="imgs/homePage/icon/member0.png" alt="大頭貼">
                                </div>
                                <div class="text">
                                    <p>{{ message.chat_msg }}</p>
                                </div>
                            </div>
                        </li>
                    </template>
                </ul>

                <!-- 訊息輸入區 -->
                <div class="chatRoom_submitMessage">
                    <form action="" class="submitContext form">
                        <!-- Rou:在此用v-model產生動態變數 以及增加事件-->
                        <input type="text" class="messageInput" v-model="chat_send_text">
                        <input type="button" value="傳送" class="submit button-submit" v-on:click="chat_send()">
                    </form>
                </div>

                <!-- 選擇頻道 -->
                <!-- Rou:動作後產生class -->

                <div class="chatRoom_switchChannel button_group">
                    <button class="button button-private" v-bind:class="{ active: !chat_to_all }">私訊</button>
                    <button class="button button-public" v-bind:class="{ active: chat_to_all }"
                        v-on:click="public_chat()">公開</button>
                </div>
            </div>
        </div>

        <div class="friendList">
            <div class="friendList_content">
                <ul class="friendList_main">
                    <!-- 上線的好友 -->
                    <li class="friendList_onlineFriend">
                        <!-- 好友類型(online, offline, requested) -->
                        <button
                            class="friendList_friendStatus button">在線好友({{online_friends().length}}/{{friends.length}})</button>

                        <!-- 好友01 每個 friendList_friend 是一位好友-->
                        <!-- Rou:將有上線的好友跑一遍,如果有抓到產生此區塊 -->
                        <div class="friendList_friend" v-for="friend in online_friends()">
                            <!-- 好友大頭貼、暱稱 -->
                            <div class="friendInfo">
                                <div class="avatar">
                                    <img src="imgs/homePage/tree_04.png" alt="大頭貼">
                                </div>
                                <!-- 點擊user名字可以產生聊天視窗 -->
                                <div class="friendName" v-on:click="private_chat(friend)">
                                    <p>{{ friend }}</p>
                                </div>
                            </div>

                            ({{ unread_messages_from_someone(friend).length }})

                            <!-- 好友連線狀態、去他房間、更多 -->
                            <div class="friendAction">
                                <div class="connectStatus">
                                    <div class="dot dot-online"></div>
                                </div>

                                <div class="roomVisit">
                                    <a href="javascript:;"><img src="imgs/homePage/icon/home.png" alt="房間ICON"></a>
                                </div>

                                <div class="moreAction">
                                    <a href="javavscript:;">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- 離線的好友 -->
                    <li class="friendList_offlineFriend">
                        <button
                            class="friendList_friendStatus button">離線好友({{offline_friends().length}}/{{friends.length}})</button>

                        <!-- Rou:將離線好友跑一遍,如果有抓到產生此區塊 -->
                        <div class="friendList_friend" v-for="friend in offline_friends()">
                            <div class="friendInfo">
                                <div class="avatar">
                                    <img src="imgs/homePage/tree_04.png" alt="大頭貼">
                                </div>
                                <div class="friendName">
                                    <p>{{ friend }}</p>
                                </div>
                            </div>

                            <div class="friendAction">
                                <div class="connectStatus">
                                    <div class="dot dot-offline"></div>
                                </div>

                                <div class="roomVisit">
                                    <a href="javascript:;"><img src="imgs/homePage/icon/home.png" alt="房間ICON"></a>
                                </div>

                                <div class="moreAction">
                                    <a href="javavscript:;">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="friendList_friend">
                            <div class="friendInfo">
                                <div class="avatar">
                                    <img src="imgs/homePage/tree_04.png" alt="大頭貼">
                                </div>
                                <div class="friendName">
                                    <p>佩佩</p>
                                </div>
                            </div>

                            <div class="friendAction">
                                <!-- 上線 / 下線狀態 點 -->
                                <div class="connectStatus">
                                    <div class="dot dot-offline"></div>
                                </div>

                                <div class="roomVisit">
                                    <a href="javascript:;"><img src="imgs/homePage/icon/home.png" alt="房間ICON"></a>
                                </div>

                                <div class="moreAction">
                                    <a href="javavscript:;">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- 好友邀請中 -->
                    <li class="friendList_requestedFriend">
                        <button class="friendList_friendStatus button">好友邀請中</button>
                        <div class="friendList_friend">
                            <div class="friendInfo">
                                <div class="avatar">
                                    <img src="imgs/homePage/tree_04.png" alt="大頭貼">
                                </div>
                                <div class="friendName">
                                    <p>毛筆</p>
                                </div>
                            </div>

                            <div class="friendAction">
                                <!-- 接受好友申請 -->
                                <div class="requestAccept">
                                    <a href="javascript:;"><img src="imgs/homePage/icon/accept.png" alt="接受ICON"></a>
                                </div>
                                <!-- 拒絕好友申請 -->
                                <div class="requestRefuse">
                                    <a href="javascript:;"><img src="imgs/homePage/icon/refuse.png" alt="拒絕ICON"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="friendList_open disabledScrollOnHover">
        <button class="button friendList_openBtn">開啟聊天室</button>
    </div>

    <!-- 通知&客服機器人 -->
    <div class="common_notifications disabledScrollOnHover">
        <div class="notifications_actionBox">
            <button class="button button-notifications">
                <img src="imgs/homePage/icon/notice.png" alt="通知按鈕圖片">
                <span>通知</span>
            </button>
            <button class="button button-robot">
                <img src="imgs/homePage/icon/robot.png" alt="客服機器人圖片">
                <span>客服魷魚</span>
            </button>
        </div>
        <div class="notifications_container collapse">
            <div class="notifications_content">
                <div class="notifications notifications_friend">
                    <i class="fas fa-times notifications_delete"></i>
                    <span>【好友通知】</span>
                    <p>你現在已經和詩詩成為好友了</p>
                </div>
                <div class="notifications notifications_event">
                    <i class="fas fa-times notifications_delete"></i>
                    <span>【活動邀請】</span>
                    <p>好友"詩詩"邀請你參加「與VUE一起浮淺」活動</p>
                </div>
                <div class="notifications notifications_room">
                    <i class="fas fa-times notifications_delete"></i>
                    <span>【房間留言】</span>
                    <p>會員"詩詩"在您房間留下了一筆新訊息</p>
                </div>
                <div class="notifications notifications_event">
                    <i class="fas fa-times notifications_delete"></i>
                    <span>【活動邀請】</span>
                    <p>好友"詩詩"邀請你參加「與VUE一起浮淺」活動</p>
                </div>
                <div class="notifications notifications_room">
                    <i class="fas fa-times notifications_delete"></i>
                    <span>【房間留言】</span>
                    <p>會員"詩詩"在您房間留下了一筆新訊息</p>
                </div>
                <div class="notifications notifications_event">
                    <i class="fas fa-times notifications_delete"></i>
                    <span>【活動邀請】</span>
                    <p>好友"詩詩"邀請你參加「與VUE一起浮潛」活動</p>
                </div>
                <div class="notifications notifications_room">
                    <i class="fas fa-times notifications_delete"></i>
                    <span>【房間留言】</span>
                    <p>會員"詩詩"在您房間留下了一筆新訊息</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 登入 -->
    <div class="loginBox collapse">
        <div class="loginContent">
            <div class="intro">
                <div class="logo">
                    <img src="imgs/homePage/loginBox/logo.png" alt="Logo" />
                    <h1>收集友誼</h1>
                </div>
                <div class="drawing">
                    <img src="imgs/homePage/loginBox/logingBg.png" alt="Login Background" />
                </div>
                <div class="slogan">
                    <p>即時交友聊天</p>
                </div>
            </div>
            <div class="loginForm">
                <h3>會員登入</h3>
                <form action="">
                    <div class="personalInfo">
                        <div class="inputField">
                            <label for="memId">暱稱</label>
                            <input type="text" name="memId" id="memId" />
                        </div>
                        <div class="inputField">
                            <label for="memPsw">密碼</label>
                            <input type="text" name="memPsw" id="memPsw" />
                        </div>
                        <div class="forgetPsw">
                            <a href="javascript:;">忘記密碼？</a>
                        </div>
                    </div>
                    <div class="submitBtns">
                        <div class="submitBtns-login">
                            <input type="submit" value="創角" class="button button-createRole" />
                            <input type="button" value="登入" class="button button-login" onclick="login()" />
                        </div>
                        <div class="submitBtns-godMode ">
                            <input class="button button-godMode button-hover-shine" type="submit" value="上帝模式" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="newCharacter">
        <div class="newCharacter_content">
            <div class="newCharacter_info">
                <form action="" class="mem_info">
                    <table class="mem_table">
                        <tbody>
                            <tr class="mem_gender">
                                <th><label for="gender">性別</label></th>
                                <td><label for="male">男</label><input type="radio" name="gender" id="male">
                                    <label for="female">女</label><input type="radio" name="gender" id="female">
                                    <label for="other">其他</label><input type="radio" name="gender" id="other"></td>
                            </tr>
                            <tr>
                                <th><label for="birthday">生日</label></th>
                                <td><input type="date" name="birthday" id="birthday"></td>
                            </tr>
                            <tr>
                                <th><label for="memName">暱稱</label></th>
                                <td><input type="text" name="memName" id="memName"></td>
                            </tr>
                            <tr>
                                <th><label for="email">信箱</label></th>
                                <td><input type="email" name="email" id="email"></td>
                            </tr>
                            <tr>
                                <th><label for="memPsw">密碼</label></th>
                                <td><input type="password" name="memPsw" id="memPsw"></td>
                            </tr>
                            <tr>
                                <th><label for="checkPsw">確認密碼</label></th>
                                <td><input type="password" name="checkPsw" id="checkPsw"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="newCharacter_customization">
                <div class="shapes">
                    <ul class="styles">
                        <li id="headStyle" class="active">
                            <a href="javascript:;">頭型</a>
                        </li>
                        <li id="skinStyle"><a href="javascript:;">膚色</a></li>
                        <li id="faceStyle"><a href="javascript:;">五官</a></li>
                    </ul>
                    <div class="changeStyle">
                        <div class="heads">
                            <ul>
                                <li>
                                    <img src="imgs/homePage/createBox/head1.png" alt="Head 1" /><img
                                        src="imgs/homePage/createBox/head2.png" alt="Head 2" />
                                </li>
                                <li>
                                    <img src="imgs/homePage/createBox/head3.png" alt="Head 3" /><img alt="Head 4"
                                        src="imgs/homePage/createBox/head4.png" />
                                </li>
                                <li>
                                    <img src="imgs/homePage/createBox/head5.png" alt="Head 5" /><img
                                        src="imgs/homePage/createBox/head6.png" alt="Head 6" />
                                </li>
                            </ul>
                        </div>
                        <div class="skinColor"></div>
                        <div class="facialFeatures">
                            <ul>
                                <li>
                                    <img src="imgs/homePage/createBox/face1.png" alt="Head 1" /><img
                                        src="imgs/homePage/createBox/face2.png" alt="Head 2" />
                                </li>
                                <li>
                                    <img src="imgs/homePage/createBox/face3.png" alt="Head 3" /><img alt="Head 4"
                                        src="imgs/homePage/createBox/face4.png" />
                                </li>
                                <li>
                                    <img src="imgs/homePage/createBox/face5.png" alt="Head 5" /><img
                                        src="imgs/homePage/createBox/face6.png" alt="Head 6" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="appearance">
                    <div class="squidBorn">
                        <img src="imgs/homePage/createBox/squid.png" alt="Faceless Squid" />
                        <img class="headFeature" src="imgs/homePage/createBox/head1.png" alt="Head" />
                        <img class="faceFeature" src="imgs/homePage/createBox/face1.png" alt="Face Feature" />
                    </div>
                </div>
            </div>
            <div class="btns">
                <a id="backToLoginBtn" href="javascript:;">回登錄頁</a>
                <a id="createRoleBtn" href="javascript:;">創建角色</a>
            </div>
        </div>
    </div>






    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
    <script src="https://kit.fontawesome.com/629062769a.js"></script>
    <script src="js/main.js"></script>
    <script src="js/loginBox.js"></script>
    <script src="js/newCharacter.js"></script>
    <script src="js/chat.js"></script>
</body>

</html>